dist/*
build/*
.vscode/*
client/resources/d3/*
server/__pycache__/*
server/base/__pycache__/*
server/mu_calculus/__pycache__/*
server/kami/__pycache__/*
*.egg-info
tests/__pycache__/*
*.pyc
kamistudio/uploads/*
db/mongo/data/*
db/neo4j/data/*