Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.6
Flask-PyMongo==2.2.0
Flask-Session==0.3.1
Flask-Uploads==0.2.1
greenery==3.1
indra==1.9.0
JPype1==0.6.3
lrparsing==1.0.13
lxml==4.9.1
matplotlib==2.2.3
neo4j-driver==1.7.0
neobolt==1.7.0
neotime==1.7.1
networkx==2.3
numpy==1.15.1
numpydoc==0.8.0
pymongo==3.7.2
sympy==1.2
Werkzeug==0.15.3
