{% extends "bootstrap/base.html" %}

{% block styles %}
  {{ super() }}
    <link href="{{url_for('static', filename='css/navbar.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/panel.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/sidebar.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/general.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/forms.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/loaders.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/graph_visualisation.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %} KAMIStudio {% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 navbar-col"></div>
      <div class="col-sm-4 navbar-col">
        <a class="navbar-brand" href="/home">
          <p id="titleP">
              <img src="{{url_for('static', filename='img/logo1.svg')}}" alt="logo" style="width:40px;height:40px;"> KAMIStudio
          </p>
        </a>
      </div>
      <div class="col-sm-4 navbar-col">
        {% block model_navigation %}
        {% endblock %}
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
    <!-- Workspace -->
    <div class="row workspace"> 
          <!-- Sidebar -->
          <div class="col-sm-2" id="sidebar-wrapper">
            {% block sidebar_items %}
            {% endblock %}
          </div>
          <!-- end of sidebar -->

          <!-- Tabs -->
          <div class="col-sm-8" id="tabs-wrapper">
            <!-- Panel -->
              <div class="row panel">
                <div class="col-sm-12">
                  {% block panel_buttons %}{% endblock %}
                </div>
              </div>
            <!-- end of panel -->
            <div class="container-fluid tabs">
              {% block tabs %}
              {% endblock %}
              {% block interaction_form %}
              {% endblock %}
            </div>
          </div>
          <div class="col-sm-2"></div>
          <!-- end of tabs -->
    </div>
    <!-- End of workspace -->
{% endblock %}

{% block scripts %}

  {{ super() }}
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="{{ url_for('static', filename='js/loaders.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/visualiseNugget.js') }}" type="text/javascript"></script> -->
  <script src="{{ url_for('static', filename='js/graph_visualisation/visualiseGraph.js') }}" type="text/babel"></script>
  <script src="{{ url_for('static', filename='js/graph_visualisation/visualiseNugget.js') }}" type="text/babel"></script>
  <script src="{{ url_for('static', filename='js/graph_visualisation/visualiseActionGraph.js') }}" type="text/babel"></script>
  <script src="{{ url_for('static', filename='js/editNugget.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/entityReferenceFinder.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/metaDataHandlers.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/kbUpdateHandlers.js') }}" type="text/babel"></script>
  <script src="{{ url_for('static', filename='js/nuggetPreview.jsx') }}" type="text/babel"></script>
  {% block custom_scripts %}{% endblock %}

{% endblock %}

