{% extends "base.html" %}


{% block panel_buttons %}
<div class="row">
  <div class="col-md-4">
    <h2 class="mb-6 kb-action-brand">{{ kb.annotation.name }}</h2>
  </div>
  <div class="col-md-8">
    {% block action_buttons %}{% endblock %}
  </div>
</div>

{% endblock %}


{% block tabs %}
    <!-- data-toggle="tab" -->
    <!------------------ Nav tabs --------->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item active">
        <a id="switchToAGTab" class="nav-link active {% if instantiated %}instantiation-link {% endif %}"  onclick="switchToAG(this);" role="tab">Action graph ({% if kb.empty() %}empty{% else %}{{ kb.action_graph.nodes()|length }} nodes {% endif %})</a>
      </li>
      <li class="nav-item">
        <a id="switchToNuggetsTab" class="nav-link {% if instantiated %}instantiation-link {% endif %}" onclick="loadNuggetsTab(this, '{{ kb_id }}', {% if instantiated %}true{% else %}false{% endif %}, {% if readonly %}true{% else %}false{% endif %});" role="tab">Nuggets ({% if kb.empty() %}0{% else %}{{ kb.nuggets()|length }}{% endif %} nuggets)</a>
      </li>
      {% block definitions_tab %}{% endblock %}
    </ul>



    <!----------- Tab panes -------------->
    <div class="tab-content">

      <!------- Action graph pane ------>

      <div class="tab-pane active" id="action_graph" role="tabpanel">
        {% if kb.empty() %}
          Action graph is empty
        {% else %}

          <div class="row">
            
            <div class="col-md-8" style="overflow-x: scroll; overflow-y: hidden;">
            <div class="action-graph-view">
             <!--  <a type="button" class="btn btn-default btn-md panel-button nugget-table-view active"><span class="glyphicon glyphicon-resize-full"></span> Action graph</a> -->
              <!-- <a type="button" class="btn btn-default btn-md panel-button nugget-list-view"><span class="glyphicon glyphicon-resize-small"></span> Interaction network</a> -->
<!--               <a type="button" class="btn btn-default btn-md panel-button nugget-list-view"><span class="glyphicon glyphicon-record"></span> Chord diagram</a> -->
              <button id="showLabelsButton" onClick="showAGLabels();" type="button" class="btn btn-default btn-md panel-button" style="float: right;">Show labels</button>
              <button id="saveLayoutButton" type="button" class="btn btn-default btn-md panel-button nugget-list-view" style="float: right;" disabled><span class="glyphicon glyphicon-floppy-disk"></span> Save current layout</button>
            </div>

            <div id="progressBlock">
              <div id="progressMessage">Retrieving action graph from the database... It may take a moment.</div>
              <div id="loadingBlock" class="loading-elements center-block">
                <div id="{% if instantiated %}loaderModel{% else %}loader{% endif %}"></div>
              </div>
            </div>

            <svg id="actionGraphSvg" preserveAspectRatio="xMinYMin meet" viewBox="0 0 700 500" style="width: 100%; height: 400pt;display: none;"></svg>
            <div class="row">
              <div class="col-sm-6" style="margin-bottom: 20px;">
                <p id="ctrlClickMessage" style="margin-left: 10px; display: none;">CTRL+click to select multiple elements</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div id="graphInfoBoxes">
            </div>
            <!-- <li class="node-element-block"> -->
            <!-- <h3>Element</h3>
            <p id="noSelectedElements">Click on an element to select</p>
            <p id="edgeElementInfo" style="display: none;">Not available for edges</p>
            <div id="selectedElementInfo"></div> -->
          </div>
        </div>
        {% endif %}
      </div>

      <!------- End of action graph pane ------>

      <!------- Nuggets pane ------>

      <div class="tab-pane" id="nuggets" role="tabpanel" style="display: initial; visibility: hidden;">

        {% if kb.nuggets()|length == 0  %}
            {% block no_nuggets_message %}{% endblock %}
        {% else %}
          <div class="row">
            <!-- Nugget list column -->
            <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <h3>Nuggets</h3>
                  </div>
                  <div class="col-sm-6">
                    <div class="nuggets-view">
                      <a type="button"
                         id="selectNuggetListView"
                         class="btn btn-default btn-md panel-button nugget-list-view active" 
                         onclick="showNuggetList('{{ kb_id }}', '{{nuggets}}', {% if instantiated %}true{% else %}false{% endif %}, {% if readonly %}true{%else%}false{%endif%});"
                         style="margin-left: 10px;">
                         <span class="glyphicon glyphicon-list"></span> List view
                      </a>
                      <a type="button"
                         id="selectNuggetTableView"
                         class="btn btn-default btn-md panel-button nugget-table-view"
                         onclick="showNuggetTable('{{ kb_id }}', {% if instantiated %}true{% else %}false{% endif %}, {% if readonly %}true{%else%}false{%endif%});">
                         <span class="glyphicon glyphicon-equalizer"></span> Table view
                      </a>
                    </div>
                  </div>
                </div>
                <div id="nuggetView">
                  <div id="progressBlock">
                    <div id="progressMessage">Loading nuggets...</div>
                      <div id="loadingBlock" class="loading-elements center-block" style="margin-top: 20pt;">
                          <div id="{% if instantiated %}loaderModel{% else %}loader{% endif %}"></div>
                      </div> 
                  </div>
                </div>
                <div id="nuggetDialogView" style="height: 100%;"></div>
            </div>
            <!-- End of nugget list column -->
            <!-- Nugget preview column -->
            <div class="col-sm-6">
              <div class="row">
              <!--   <div class="col-sm-12">
                  <h3 style="margin-top: 20px;">Nugget view</h3>
                </div> -->
                
              </div>
              <div id="nuggetViewWidget"></div>
            </div>
            <!-- End of nugget preview column -->
          </div>
        {% endif %}
      </div>
      <!------- End of nuggets pane ------>

      <!------- Start definitions pane ------>
      {% block definitions_pane %} {% endblock %}
      <!------- End of definitions pane ------>

    </div>
  </div>
{% endblock %}

{% if not kb.empty() %}
  
{% block custom_scripts %}
  <script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/components/Dialogs.jsx') }}" type="text/babel"></script>
  <script src="{{ url_for('static', filename='js/components/KBDataBoxes.jsx') }}" type="text/babel"></script>
  <script src="{{ url_for('static', filename='js/components/GraphElementBoxes.jsx') }}" type="text/babel"></script>
  <script src="{{ url_for('static', filename='js/components/NuggetViewComponents.jsx') }}" type="text/babel"></script>
  <script src="{{ url_for('static', filename='js/nuggetViews.jsx') }}" type="text/babel"></script>
  <script src="{{ url_for('static', filename='js/components/DefinitionViewComponents.jsx') }}" type="text/babel"></script>
  <script src="{{ url_for('static', filename='js/definitionViews.jsx') }}" type="text/babel"></script>
  <script src="{{ url_for('static', filename='js/tabSwitching.js') }}" type="text/javascript">
  </script>
  <script src="{{ url_for('static', filename='js/graphUtils.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/components/FilteredLists.jsx') }}" type="text/babel"></script>
  <script src="{{ url_for('static', filename='js/graph_visualisation/visualiseGraph.js') }}" type="text/babel"></script>
  <script src="{{ url_for('static', filename='js/graph_visualisation/visualiseNugget.js') }}" type="text/babel"></script>
  <script src="{{ url_for('static', filename='js/graph_visualisation/visualiseActionGraph.js') }}" type="text/babel"></script>
  <script type="text/babel">
    getActionGraphAndVisualize(
      '{{ kb_id }}',
      '{{ url_for('static', filename='js/graph_visualisation/forceLayoutWorker.js') }}',
      {% if instantiated %}true{% else %}false{% endif %}
      {% if readonly %}, true {% endif %});

  </script>
  {% block info_boxes_rendering %}{% endblock %}

{% endblock %}
{% endif %}