{% extends "base.html" %}

{% block panel_buttons %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-6 model-action-brand">New model</h1>
    </div>
  </div>
{% endblock %}


{% block tabs %}

<form id="newModelForm" novalidate="{{ url_for('home.new_model') }}" method="post">
	<div class="col-md-6">
	    <div class="model-input-form-block">
			<div class="row form-row">
			      <label for="name">Name</label>
			      <input type="text" class="form-control" name="name" id="name" placeholder="" value="">
			</div>

			 <div class="row form-row">
			    <!-- <div class="col-md-6"> -->
			      <label for="desc">Description</label>
			      <input type="text" class="form-control" name="desc" id="desc" placeholder="" value="">
			    <!-- </div> -->
			 </div>

			 <div class="row form-row">
			    <!-- <div class="col-md-6"> -->
			      <label for="desc">Organism</label>
			      <input type="text" class="form-control" name="organism" id="organism" placeholder="" value="">
			    <!-- </div> -->
			 </div>

			<div class="row form-row">
				<div class="col-md-6">
					<div id="loadingBlock" class="loading-elements center-block" style="display: none;">
						<p>Loading...</p>
						<div id="loaderModel"></div>
					</div>
				</div>
				<div class="col-md-6" style="text-align: right;">
					<button type="submit" class="btn btn-primary btn-lg instantiation" name="importForm" action="submit" onClick="showLoader(this);">Create</button> 
				</div>
			</div>
		</div>
	</div>
</form>

{% endblock %}