.form-row {
	margin-top: 15px;
}

.add-button {
	margin-left: 0px;
}

.no-elements-message {
	color: #777;
}

#buttons {
	float: right;
}

.dynamic-form-remove {
	float: right;
}

.nested-form {
	margin-top: 20px;
}

.remove-form-button {
	color: #c9302c;
	float: right;
}

.form-block {
    border-radius: 25px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.invalid-feedback {
	color: #c9302c;
}