/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Comfortaa";
@import "https://fonts.googleapis.com/css?family=Roboto";*/
@import "https://fonts.googleapis.com/css?family=Lato";

p {
	text-decoration: none;
  	color: #999999;
}


body {
    font-family: 'Lato', sans-serif;
}

body {
	overflow-x: hidden;
}

.tabs {
	/*margin: 20px;*/
	padding-left: 0px;
	padding-top: 10px;
}

.home-button {
    margin-left: 30px;
}

.tab-content {
	position: absolute;
	top: auto;
	left: 0;
	width: 100%;
}

.tab-pane {
	margin: 20px;
	position: absolute;
	width: 95%;
	top: 0;
	left: 0;
}

.model-checkbox {
	width: 25px;
	float: right;
}

.all-models-checkbox {
	float: right;
	margin-right: 22px;
}

p.hidden {
	display: none;
}

p.loading-error-message {
	color: #c94c4c;
}

td.nugget-desc {
	color: #777;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
}

td.nugget-id {
  	vertical-align: middle;
	border-bottom: 1px solid #ddd;
	width: 20%;
}

td.data {
	border-top: 1px solid #eee;
}

.nugget-nav-buttons {
	text-align: right;
	border-bottom: 1px solid #ddd;
}

.show-nugget-button {
	margin: 5px;
}

#nuggets {
	margin-top: 20px
}

.nugget-list-view {
	margin-left: 0px;
}

.nugget-record.nugget-id {
    vertical-align: top;
}
.nugget-record.nugget-desc {
    vertical-align: top;
}
.nugget-record.nugget-nav-buttons {
    vertical-align: top;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 5px;
}

.dot-gene {
	background-color: #8db1d1;
}

.dot-gene-instance {
	background-color: #ed757a;
}

.dot-region {
	background-color: #ffb080;
}

.dot-site {
	background-color: #ffd780;
}

.dot-residue {
	background-color: #F68EA0;
}

.dot-state {
	background-color: #A3DEFF;
}

.dot-mod {
	background-color: #b775ed;
}

.dot-bnd {
	background-color: #7CCC9C;
}

#addNuggetToTheModel {
	float: right;
}

.model-brand {
	margin-left: 10px;
}

.model-action-brand, .kb-action-brand {
	/*margin-left: 10px;*/
	margin-top: 10px;
    display: inline;
}

.kb-description {
    /*margin-left: 10px;*/
    margin-top: 10px; 
    /*display: inline;*/
    color: grey;
}
.kb-species {
    /*margin-left: 10px;*/
    margin-top: 10px; 
    display: inline;
    color: grey;
}

table.nugget-info-table > tbody > tr > td {
	border-top: 0px;
}

.nugget-info-table {
	table-layout: fixed;
}

.nugget-info-table-header {
	float: right;
	border-right: 1px solid #ddd;
}

.nugget-info-table-header.no-border {
	border-right: 0px;
}

.nugget-info-table-huge-cell {
	border-left: 1px solid #ddd;
}

.entity-identification-table {
	margin-left: 0px;
	table-layout: initial;
}


.action-graph-view {
	/*float: right;*/
}

.action-graph-view > a{
	margin-left: 0px;
}

.nuggets-view {
	float: right;
}


.model-action-buttons, .kb-action-buttons {
	float: right;
	margin-right: 20px;
}


table.info {
	margin-bottom: 0px;
}

table.info > tbody > tr > td,
table.info > tbody > tr > th {
	border-top: 0px;
	padding: 3px;
}

.info-brand {
	margin-top: 0px;
	margin-left: 0px;
}

a.disabled {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
}


/*.entityFilterInput:before {
  position: absolute;
  content:"\e003";
  font-family:"Glyphicons Halflings";
}*/


.entity-choice-dropdown {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    max-height: 250px;
}

.dropdown-row {
	margin-left: 0px;
	margin-right: 0px;
	position: relative;
}

.choice-node-id {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 5px;
}

.choice-meta-data {
	padding-right: 0px;
	margin-right: 5px;
	padding-left: 0px;
}


.link-span { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}   



.dropdown-row:hover { 
  background-color: #ddd;
}   

.home-collection {
	border-radius: 25px;
/*background: #e5b2b4;*/
	padding: 20px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}

h2.collection-brand {
	display: inline-block;
	margin-top: 0px;
}

.collection-buttons {
	display: inline-block;
	float: right;
}

a.instantiation-link {
	cursor: pointer;
	color: #a11117;
	/*border-color: #8d0e14;*/
}
a.instantiation-link:hover {
	color: #8d0e14;
	/*border-color: #8d0e14;*/
}

a.btn.instantiation, button.instantiation {
	background-color: #a11117;
	border-color: #8d0e14;
}

button.btn-default.instantiation {
	background-color: white;
}

a.btn.instantiation:focus {
	background-color: #8d0e14;
	border-color: #8d0e14;
}

button.instantiation:focus {
	background-color: #8d0e14;
	border-color: #8d0e14;
}

a.btn.instantiation:hover {
	background-color: #8d0e14;
	border-color: #8d0e14;
}

button.instantiation:hover, button.instantiated[disabled]:hover  {
	background-color: #8d0e14 !important;
	border-color: #8d0e14 !important;
}

.highlighted-item {
	border-radius: 0px 5px 5px 5px;
	background: #dae3ec;
	padding: 20px;
	margin-bottom: 10px;
}


.highlighted-item.instance {
	background: #f5e5e6;
}

.highighted-item-brand {
	font-weight: bold;
	font-size: 14pt;
}

.highlighted-item > p {
	color: black;
}


#titleP {
	color: black;
}


/*
#nuggetsViewTable {
	height: 490px;
	overflow-x: auto;
	border: 1pt solid #ddd;
}
*/

#nuggetsViewTable > table > tbody > tr > td,
#nuggetsViewTable > table > tbody > tr > th {
	border-top: 0px;
}

table.no-borders > tbody > tr > th,
table.no-borders > tbody > tr > td {
	border-top: 0px;
	padding: 3px;
}


.nuggets-nav {
	height: 350pt;
    overflow-y: scroll;
}

.nuggets-nav li {
	border-bottom: 1pt solid #ddd;
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.nuggets-nav li:last-child {
	border-bottom: 0pt;
}

.nuggets-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0px;
}

.nuggets-nav li.not-selected:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 0px;
    /*background-color: #6C7A89;   */
}

.nuggets-nav li:hover:before,
.nuggets-nav li.open:hover:before {
    width: 100%;
/*    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;*/
}

.nuggets-nav li a {
	width: 100%;
    display: inline-block;
    /*color: #fff;*/
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

#nuggetsListView {
	height: 490px;
	overflow-x: auto;
	border: 1pt solid #ddd;
}

#definitionListView {
	height: 490px;
	overflow-x: auto;
	border: 1pt solid #ddd;
}

.nuggets-nav li.selected {
  background-color: #dae3ec;
}

.nuggets-nav li.selected.instantiation-link {
  background-color: #f5e5e6;
}


.nuggets-nav li a:hover,
.nuggets-nav li a:active,
.nuggets-nav li a:focus,
.nuggets-nav li.open a:hover,
.nuggets-nav li.open a:active
.nuggets-nav li.open a:focus{
    /*color: #dae3ec;*/
    text-decoration: none;
    background-color: #dae3ec;
}

.nuggets-nav li.instantiation-link a:hover,
.nuggets-nav li.instantiation-link a:active,
.nuggets-nav li.instantiation-link a:focus,
.nuggets-nav li.open.instantiation-link a:hover,
.nuggets-nav li.open.instantiation-link a:active
.nuggets-nav li.open.instantiation-link a:focus{
    /*color: #dae3ec;*/
    text-decoration: none;
    background-color: #f5e5e6;
}

.nuggets-nav li a p {
	margin-bottom: 0px;
}

.nugget-desc {
	display: inline-block;
	float: right;
}

#productsContainer {
	overflow-x: scroll;
  	overflow-y: hidden;
  	white-space: nowrap;
  	width: 100%;
}

.product-item {
	/*text-align: center;*/
	display: inline-block;
	padding: 10px;
}

#productListView {
	height: 109px;
	overflow-x: auto;
	border: 1pt solid #ddd;
	margin-bottom: 15px;
	margin-left: 25px;
	margin-right: 25px;
}

#productListView .nuggets-nav li {
	line-height: 15px;
}

h3.editable-box {
	margin-top: 0px;
}

.editable-box.right-button {
	margin-top: 0px;
}

svg {
	margin-bottom: 10px;
}


.inner-list-unstyled {
	padding-left: 0pt;
}

.inner-list-unstyled li {
	border: 0pt;
	line-height: 15pt;
}

.nuggets-nav li a.inner-selector {
	padding-left: 50pt;

}

.dialog {
	border-radius: 15px;
	border: 2px solid #ddd;
	/*background: #dae3ec;*/
	background: white;
	z-index: 100;
	position: fixed;
	top: 15%;
}

.filter-list {
	height: 60%;
}

.ag-selection-dialog {
	width: 50vw;
	height: 50vh;
	left: 25%;
}

.selection-dialog {
	width: 300pt;
	height: 350pt;
	left: 33%;
}

.selection-dialog ul {
	height: 80%;
	overflow-y: auto;
}

.selection-dialog-title {
	margin-left: 10pt;
}

.list-group-item.transparent {
	background: transparent;
}

input.search {
	width: 94%;
	margin: auto;
	margin-top: 15pt;
	margin-bottom: 15pt;
}

a.cancel-link {
	float: right;
	margin-top: 10pt;
	margin-right: 10pt;
}

a.cancel-link span {
	font-size: 16pt;
}

ul.selection-items {
	list-style-type: none;
	padding-left: 0pt
}

ul.selection-items li {
	border: solid 1px #ddd;
	border-radius: 15px;
	padding: 10px;
	margin: 10px;
	margin-left: 0pt;
}

.faded {
	margin-bottom: 0pt;
}


a.info-box-title {
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

input.nugget-search {
	width: 95%;
	margin-top: 0pt;
}

#nuggetPreview {
	margin-top: 20px;
}

#about {
	font-size: 12pt;
	text-align: center;
}

#about > p {
	color: #727272;
}

.nav-link {
	cursor: pointer;
}

#interactionsButtons {
	text-align: center;
}

button {
	cursor: pointer;
}

ol.pale {
	color: #727272;
}

.info-tooltip {
  position: fixed;
  display: inline-block;
  border-bottom: 1px dotted black;
}


.info-tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -150px;
  opacity: 0;
  transition: opacity 0.3s;
}

.info-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.info-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


span.glyphicon-question-sign {
	margin: 5pt;
	color: #337ab7;
}

.node-desc {
	display: inline-block;
	width: 65%;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	margin-left: 10pt;
}


.node-id {
	display: inline-block;
	color: gray;
	font-size: 8pt;
	width: 25%;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
	float: right;
	text-align: right;
}

.modal {
	overflow-y: scroll;
}

.modal-dialog {
	margin: 50pt auto;
	height: 350pt;
    width: 95%;
}

.modal-title {
	display: inline-block;
}

.modal-footer {
	text-align: center;
}

.modal-content {
	margin: 20pt;
}

.modal-block {
	height: 100%;
	width: 100%;
  	position: relative;
}

.modal-block, .modal-backdrop {
    position: absolute !important;
}


li.subitem a:hover,
li.subitem a:active,
li.subitem a:focus,
li.subitem.selected-subitem a {
	background-color: #c5d1dd;
}

/* NEW STYLESS */


.corpus-options {
    float: right;
}


.dropdown-menu {
    min-width: 0pt;
}

.row.panel {
    padding-top: 10pt;
    padding-bottom: 10pt;
    margin-left: 5pt;
    margin-right: 5pt;
}

.row.panel > .row {
    margin-left: 0pt;
    margin-right: 0pt;
}

.nav {
    margin-left: 5pt;
}

.tab-pane {
    margin-left: 5pt;
    margin-right: 5pt;
    width: 98%;
}

.tab-pane > .row {
    margin-right: 0pt;
    margin-left: 0pt;
}

.nav-pills > li + li {
    margin-left: 5pt;
    margin-top: 5pt;
}

.nav-pills > li:first-of-type {
    margin-top: 5pt;
}

.nav-tabs > li:first-of-type {
    margin-left: 16%;
}

.nav-pills > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-pills > li > a {
    transition: none;
}

.nav-pills {
    text-align:center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15pt;
}

.container-fluid {
    padding-right: 0pt;
}


/* ACTION GRAPH VIEW */
/*
    DEMO STYLE
*/


/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";*/

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  /*transition: all 0.3s;*/
}

.navbar {
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}

#navigation-bar {
  position: fixed;
  width: 100%;
  z-index: 500;
  background: #fff;
  padding-bottom: 10px;
}

#navigation-bar span {
  position: relative;
  right: 10px;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


#agView {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    height: 440pt;
}


#agSidebarWrapper {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}


#agSidebarWrapper.collapsed {
   width: 0%;
}

#agSidebarWrapper.collapsed .info-tooltip {
    position: relative;
}

#agContentWrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0%;
    transition: 0.5s;
}


#agContentWrapper.collapsed {
    width: 70%;
    left: 30%;}

#graphInfoBoxes {
    height: 100%;
    width: 100%;  
    z-index: 1;
    overflow-x: hidden;
    /*position: fixed;
    top: 0;
    left: 0;*/
}

#agContent {
    width: 100%;
   /* position: fixed;
    top: 0;
    left: 0;*/
}

#agSidebar {
    padding: 10pt;
    padding-top: 0pt;
}

#graphInfoBoxes {
    /*background: #dae3ec;*/
    margin: 5pt;
}

#collapseButton {
    padding-left: 5pt;
    font-size: 20pt;
    padding-bottom: 0pt;
}

#graphInfoBoxes  h4 {
    color: #337ab7;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}