/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Comfortaa";
@import "https://fonts.googleapis.com/css?family=Roboto";*/
@import "https://fonts.googleapis.com/css?family=Lato";

p {
	text-decoration: none;
  	color: #999999;
}


body {
    font-family: 'Lato', sans-serif;
}

body {
	overflow-x: hidden;
}

.tabs {
	/*margin: 20px;*/
	padding-left: 0px;
	padding-top: 10px;
}

.home-button {
    margin-left: 30px;
}

.tab-pane {
	margin: 20px;
}

.model-checkbox {
	width: 25px;
	float: right;
}

.all-models-checkbox {
	float: right;
	margin-right: 22px;
}

p.hidden {
	display: none;
}

p.loading-error-message {
	color: #c94c4c;
}

td.nugget-desc {
	color: #777;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
}

td.nugget-id {
  	vertical-align: middle;
	border-bottom: 1px solid #ddd;
	width: 20%;
}

td.data {
	border-top: 1px solid #eee;
}

.nugget-nav-buttons {
	text-align: right;
	border-bottom: 1px solid #ddd;
}

.show-nugget-button {
	margin: 5px;
}

#nuggets {
	margin-top: 20px
}

.nugget-list-view {
	margin-left: 0px;
}

.nugget-record.nugget-id {
    vertical-align: top;
}
.nugget-record.nugget-desc {
    vertical-align: top;
}
.nugget-record.nugget-nav-buttons {
    vertical-align: top;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 5px;
}

.dot-gene {
	background-color: #8db1d1;
}

.dot-gene-instance {
	background-color: #ed757a;
}

.dot-region {
	background-color: #ffb080;
}

.dot-site {
	background-color: #ffd780;
}

.dot-residue {
	background-color: #F68EA0;
}

.dot-state {
	background-color: #A3DEFF;
}

.dot-mod {
	background-color: #b775ed;
}

.dot-bnd {
	background-color: #7CCC9C;
}

#addNuggetToTheModel {
	float: right;
}

.model-brand {
	margin-left: 10px;
}

.model-action-brand, .corpus-action-brand {
	margin-left: 10px;
	margin-top: 10px;
}

table.nugget-info-table > tbody > tr > td {
	border-top: 0px;
}

.nugget-info-table {
	table-layout: fixed;
}

.nugget-info-table-header {
	float: right;
	border-right: 1px solid #ddd;
}

.nugget-info-table-header.no-border {
	border-right: 0px;
}

.nugget-info-table-huge-cell {
	border-left: 1px solid #ddd;
}

.entity-identification-table {
	margin-left: 0px;
	table-layout: initial;
}


.action-graph-view {
	/*float: right;*/
}

.action-graph-view > a{
	margin-left: 0px;
}

.nuggets-view {
	float: right;
}


.model-action-buttons, .corpus-action-buttons {
	float: right;
	margin-right: 20px;
}


table.info {
	margin-bottom: 0px;
}

table.info > tbody > tr > td,
table.info > tbody > tr > th {
	border-top: 0px;
	padding: 3px;
}

.info-brand {
	margin-top: 0px;
	margin-left: 0px;
}

a.disabled {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
}


/*.entityFilterInput:before {
  position: absolute;
  content:"\e003";
  font-family:"Glyphicons Halflings";
}*/


.entity-choice-dropdown {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    max-height: 250px;
}

.dropdown-row {
	margin-left: 0px;
	margin-right: 0px;
	position: relative;
}

.choice-node-id {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 5px;
}

.choice-meta-data {
	padding-right: 0px;
	margin-right: 5px;
	padding-left: 0px;
}


.link-span { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}   



.dropdown-row:hover { 
  background-color: #ddd;
}   

.home-collection {
	border-radius: 25px;
/*background: #e5b2b4;*/
	padding: 20px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}

h2.collection-brand {
	display: inline-block;
	margin-top: 0px;
}

.collection-buttons {
	display: inline-block;
	float: right;
}

a.instantiation-link {
	color: #a11117;
	/*border-color: #8d0e14;*/
}
a.instantiation-link:hover {
	color: #8d0e14;
	/*border-color: #8d0e14;*/
}

a.btn.instantiation, button.instantiation {
	background-color: #a11117;
	border-color: #8d0e14;
}

a.btn.instantiation:focus, button.instantiation:focus {
	background-color: #8d0e14;
	border-color: #8d0e14;
}

a.btn.instantiation:hover, button.instantiation:hover {
	background-color: #8d0e14;
	border-color: #8d0e14;
}


.highlighted-item {
	border-radius: 15px;
	background: #dae3ec;
	padding: 20px;
	margin-bottom: 10px;
}


.highlighted-item.instance {
	background: #f5e5e6;
}

.highighted-item-brand {
	font-weight: bold;
	font-size: 14pt;
}

.highlighted-item > p {
	color: black;
}


#titleP {
	color: black;
}


#nuggetsViewTable {
	height: 300px;
	overflow-x: auto;
	border: 1pt solid #ddd;
	border-radius: 15px;
}

#nuggetsViewTable {
	height: 500px;
	overflow-x: auto;
	border: 1pt solid #ddd;
	border-radius: 15px;
}


#nuggetsViewTable > table > tbody > tr > td,
#nuggetsViewTable > table > tbody > tr > th {
	border-top: 0px;
}