#progressBlock {
    width: 100%;
    padding-top: 100px;
    text-align: center;
}

#progressBarBlock {
    width: 70%;
    margin: 0 auto;
}

#progressBar {
    width: 1%;
    margin: 0 auto;
    height: 20px;
    background-color: #337ab7;;
}

#progressBar.instantiated {
    background-color: #8d0e14;;
}

#progressMessage {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 10px;
    margin-bottom: 20px;
}

.loading-elements {
    /*display: none;*/
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

#loader {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #337ab7; /* Blue */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
}

#loaderModel {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #8d0e14; /* Red */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
.tabs.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
.tabs.loading .loading-elements {
    display: block;
}


#loadingBlock {
    margin-top: 15pt;
}