.navbar-brand
{
    /*position: absolute;
    width: 100%;
    left: 0;
    text-align: center;*/
    /*margin: 0 auto;*/
    font-size: 20pt;
    height: 100%;
}

.navabar-col {
	height: 70px;
}

.navbar {
	margin-bottom: 5px;
	min-height: 70px;
}

.container {
	width: 100%;
}

#titleP {
	margin: 0 0 0px;
}