.navbar-brand
{
    /*position: absolute;
    width: 100%;
    left: 0;
    text-align: center;*/
    /*margin: 0 auto;*/
    font-size: 20pt;
}

.navbar {
	margin-bottom: 5px;
	min-height: 70px;
}

.container {
	width: 100%;
}