{% extends "model_base.html" %}


{% block panel_buttons %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-6 model-action-brand">New interaction</h1>
    </div>
  </div>
{% endblock %}

{% block sidebar_items %}

{% endblock %}

{% block interaction_form %}

<div id="addInteractionForm" class="col-md-12 order-md-1">
</div>

{% endblock %}

{% block custom_scripts %}
<!-- 
  <script src="{{ url_for('static', filename='js/addInteraction.js') }}" type="text/javascript"></script> -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <!-- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> -->
  <script type="text/babel" src="{{ url_for('static', filename='js/interaction_form/InteractionForm.jsx') }}" type="text/javascript"></script>
  <script type="text/babel" src="{{ url_for('static', filename='js/interaction_form/Components.jsx') }}" type="text/javascript"></script>
  <script type="text/babel" src="{{ url_for('static', filename='js/interaction_form/ModificationForms.jsx') }}" type="text/javascript"></script>
  <script type="text/babel" src="{{ url_for('static', filename='js/interaction_form/BindingForms.jsx') }}" type="text/javascript"></script>
  <script type="text/babel" src="{{ url_for('static', filename='js/interaction_form/EntityForms.jsx') }}" type="text/javascript"></script>
  <script type="text/babel">
    ReactDOM.render(
      <InteractionForm actionUrl={ "{{ url_for('model.add_interaction', model_id=model_id) }}" }/>,
      document.getElementById('addInteractionForm')
    );
  </script>

{% endblock %}