{% extends "knowledge_base.html" %}

{% block action_buttons %}
    <div class="kb-action-buttons">
        <a href="{{ url_for('model.download_model', model_id=kb_id) }}" type="button" class="btn btn-default btn-md panel-button add-interaction-button"><span class="glyphicon glyphicon-download-alt"></span> Export JSON</a>
        <a {% if not readonly %}href="{{ url_for('model.delete_model', model_id=kb_id) }}"{%endif%} type="button" class="btn btn-primary btn-md panel-button instantiation"  {% if readonly %} disabled{% endif %}><span class="glyphicon glyphicon-remove"></span> Delete</a>
    </div>
{% endblock %}


{% block sidebar_items %}
	<h2 class="mb-6 kb-action-brand">Model overview</h2>
	<div class="highlighted-item instance" id="modelData"></div>
{% endblock %}


{% block no_nuggets_message %}
 	Model does not contain any nuggets
{% endblock %}

{% block info_boxes_rendering %}
    <script type="text/babel">

    if (document.getElementById('graphInfoBoxes')) {
      ReactDOM.render(
        [
          <ElementInfoBox id="graphElement" 
              {% if readonly %}
                  editable={false}
              {% else %}
                  editable={true}
              {% endif %}
              items={[]}/>,
          <MetaDataBox id="metaData" 
              {% if readonly %}
                  editable={false}
              {% else %}
                  editable={true}
              {% endif %}
              items={[]}/>
        ],
        document.getElementById('graphInfoBoxes')
      );
    }
    ReactDOM.render(
      <ModelDataBox 
          {% if readonly %}
              readonly={true}
          {% else %}
              readonly={false}
          {% endif %}
          {% if kb.annotation.name %}
                kbName='{{kb.annotation.name}}'
          {% endif %}
          {% if kb.annotation.desc %}
                desc='{{kb.annotation.desc}}'
          {% endif %}
          {% if kb.annotation.organism %}
                organism='{{kb.annotation.organism}}'
          {% endif %}
                creation_time='{{kb.creation_time}}'
                last_modified='{{kb.last_modified}}'
          {% if corpus_id %}
                corpusId='{{corpus_id}}'
                corpusName='{{corpus_name}}'
                corpusUrl='{{url_for('corpus.corpus_view', corpus_id=corpus_id)}}'
          {% endif %}
          {% if kb._seed_genes %}
                seedGenes='{{ kb._seed_genes }}'
          {% endif %}
          {% if kb._definitions %}
                definitions='{{ kb._definitions }}'
          {% endif %}
          onDataUpdate={handleModelUpdate('{{ kb._id }}')}
          proteins='{{ proteins|safe }}' 
          bindings='{{ bindings|safe }}'
          modifications='{{ modifications|safe }}'
         />,
      document.getElementById('modelData')
    );

    renderNuggetList('{{kb_id}}', '{{nuggets|safe}}', true, {% if readonly %}true{% else %}false{% endif %});
  </script>
{% endblock %}