{% extends "base.html" %}

{% block home_button %}
  <a href="/home" type="button" class="btn btn-primary btn-md panel-button home-button">
    <span class="glyphicon glyphicon-home"></span> Home
  </a>
{% endblock %}
{% block panel_buttons %}
<a href="/model/{{ hierarchy_id }}"><h1 id="hierarchy_name">{{ hierarchy_id }}</h1></a>
{% endblock %}

{% block sidebar_items %}
  <li class="node-element-block">
      <h3>Element</h3>
      <p id="noSelectedElements">Click on an element to select</p>
      <p id="edgeElementInfo" style="display: none;">Not available for edges</p>
      <div id="selectedElementInfo"></div>
  </li>
  <li class="node-info-block">
      <h3>Meta-data</h3>
      <p id="noSelectedNodes">Click on an element to select</p>
      <p id="noMetaData" style="display: none;">No meta-data</p>
      <div id="selectedNodeInfo"></div>
  </li>
  <li class="node-ag-typing-block">
      <h3>Action Graph Typing</h3>
      <p id="noSelectedNodesToType">Click on a node to select</p>
      <p id="noTyping" style="display: none;">Not typed by any node in the action graph</p>
      <p id="edgeTyping" style="display: none;">Not available for edges</p>
      <div id="selectedNodeTyping"></div>
  </li>
<!--   <li class="graph-edit">
    <h3>Modify graph</h3>
    <hr class="mb-4">
  </li> -->
{% endblock %}

{% block interaction_form %}

<div class="col-md-12 order-md-1">
  <h2 class="mb-6">Nugget editing</h2>
  <div class="row">
    <div class="col-md-12">
      <hr class="mb-4">
    </div>
  </div>

  <svg width="960" height="600"></svg>
  <!-- <div class="tooltip"></div> -->

  <a type="button" id="addNuggetToTheModel" class="btn btn-primary btn-md" onclick=""><span class="glyphicon glyphicon-ok edit-sign"></span> Add to the model</a>
   
</div>

{% endblock %}
{% block customScripts %}
  <script type="text/javascript">
    visualiseNugget('{{ nugget_graph | safe }}', '{{ nugget_type }}', '{{ nugget_meta_typing | safe }}', '{{ nugget_ag_typing | safe }}', '{{ nugget_template_rel | safe }}');
  </script>
{% endblock %}
