{% extends "model_base.html" %}

{% block panel_buttons %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-6 model-action-brand">Nugget preview</h1>
    </div>
  </div>
{% endblock %}

{% block sidebar_items %}
<div class="sidebar">

  <div class="node-element-block">
      <h4 class="sidebar-block-name">Element</h4>
      <p class="faded sidebar-block-message" id="noSelectedElements">Click on an element to select</p>
      <p class="faded sidebar-block-message" id="edgeElementInfo" style="display: none;">Not available for edges</p>
      <div id="selectedElementInfo"></div>
  </div>
  <div class="node-info-block">
      <h4 class="sidebar-block-name">Meta-data</h4>
      <p class="faded sidebar-block-message" id="noSelectedNodes">Click on an element to select</p>
      <p class="faded sidebar-block-message" id="noMetaData" style="display: none;">No meta-data</p>
      <div id="selectedNodeInfo"></div>
  </div>
  <div class="node-ag-typing-block">
      <h4 class="sidebar-block-name">Action Graph Typing</h4>
      <p class="faded sidebar-block-message" id="noSelectedNodesToType">Click on a node to select</p>
      <p class="faded sidebar-block-message" id="noTyping" style="display: none;">Not typed by any node in the action graph</p>
      <p class="faded sidebar-block-message" id="edgeTyping" style="display: none;">Not available for edges</p>
      <div id="selectedNodeTyping"></div>
  </div>

</div>
<!--   <li class="graph-edit">
    <h3>Modify graph</h3>
    <hr class="mb-4">
  </li> -->
{% endblock %}

{% block interaction_form %}

<div class="col-md-12 order-md-1">
  


  <div class="row">
    <div class="col-md-12">
        <table class="table nugget-info-table">
          <tbody>
            <tr>
              <td class="nugget-info-table-header">Interaction type: </td>
              <td style="width: 80%;">
                {% if nugget_type == "mod" %}
                  Modification
                {% else %}
                  Binding
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="nugget-info-table-header">Description:</td>
              <td>
                {% if nugget_desc %}
                  {{ nugget_desc }}
                {% else %}
                  <p style="margin-bottom: 0px">Not specified</p>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="nugget-info-table-header">Bimolecular rate:</td>
              <td>
                {% if nugget_rate %}
                  {{ nugget_rate }}
                {% else %}
                  <p style="margin-bottom: 0px">Not specified</p>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="nugget-info-table-header no-border">Graph preview:</td>
              <td class="nugget-info-table-huge-cell"><svg id="nuggetSvg" width="600" height="300"></svg></td>
            </tr>
            <tr>
              <td class="nugget-info-table-header no-border">
                Entity identification:
              </td>
              <td class="nugget-info-table-huge-cell">
                <table class="table table-hover entity-identification-table">
                  <thead>
                    <tr>
                      <th scope="col">Node ID</th>
                      <th scope="col">Action Graph Node</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for node in nugget_nodes %}
                      <tr>
                        <td>{{ node }}</td>
                        <td>
                          <div class="row">
                            {% if node in nugget_ag_typing_dict.keys() %}
                              <div class="col-md-4">
                                {{ nugget_ag_typing_dict[node] }} 
                              </div>
                              <div class="col-md-4">
                                <a><span class="glyphicon glyphicon-search"></span> Show meta-data</a>
                              </div>
                            {% else %}
                              <div class="col-md-4">
                                NA 
                              </div>
                              <div class="col-md-4">
                                <a class="disabled"><span class="glyphicon glyphicon-search"></span> Show meta-data</a>
                              </div>
                            {% endif %}

                            <div class="col-md-4">


                              <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle btn-block" onclick="showReferenceEntityCandidates('{{node}}', '{{nugget_meta_typing[node]}}')" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  Change
                                  <span class="caret"></span>
                                </button>
                                <div id="entityChoiceDropdown{{node}}" class="entity-choice-dropdown">
                                  <input class="form-control"  type="text" placeholder="Search..." class="entityFilterInput" onkeyup="filterEntities()">
                                  <div class="row dropdown-row">
                                    <div class="col-md-4">
                                      Lala
                                    </div>
                                    <div class="col-md-6">
                                      Meta-data
                                    </div>
                                  </div>
                                  <div class="row dropdown-row">
                                    <div class="col-md-4">
                                      Papapa
                                    </div>
                                    <div class="col-md-6">
                                      Meta-data
                                    </div>
                                  </div>
<!--                                 <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                  <li><a href="#">Action</a></li>
                                  <li><a href="#">Another action</a></li>
                                  <li><a href="#">Something else here</a></li>
                                  <li role="separator" class="divider"></li>
                                  <li><a href="#">Separated link</a></li>
                                </ul> -->
                                </div>
                              </div>

                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  
  <div class="row">
    <a type="button" id="addNuggetToTheModel" class="btn btn-primary btn-lg" href="{{ url_for('model.add_nugget_from_session', hierarchy_id=hierarchy_id) }}"><span class="glyphicon glyphicon-ok edit-sign"></span> Add to the model</a>    
  </div>

</div>

{% endblock %}
{% block custom_scripts %}
  <script type="text/javascript">
    visualiseNugget('{{ nugget_graph | safe }}', '{{ nugget_type }}', '{{ nugget_meta_typing | safe }}', '{{ nugget_ag_typing | safe }}', '{{ nugget_template_rel | safe }}');
  </script>
{% endblock %}
